{% extends "core/base.html" %}
{% block title %}Scan QR{% endblock title %}
{% block content %}
<div class="center-container">
    <div class="container">
        <h1>Scan QR Code<h1>
            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type ="text" name="mobile_number"
                placeholder="Enter 11-digit mobile number"
                required pattern="\d{11}">
                <input type="file" name="qr_image" accept="image/*"
                id="qr-input">
                <button type="submit">Scan</button>
            </form>
    </div>
</div>

{% endblock content %}